<ion-view title="Ações" id="page3">
    <ion-content padding="true" class="has-header">
        <div class="button-bar">
            <button id="aEs-button27" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-connection-bars"></button>
            <button id="aEs-button28" style="color:#4257F1;border-radius:0px 0px 0px 0px;" class="button button-positive  button-block button-icon icon ion-android-locate"></button>
            <button id="aEs-button30" style="color:#8D8D9B;" class="button button-positive  button-block button-icon icon ion-email"></button>
        </div>
        <div class="spacer" style="width: 283px; height: 9px;"></div>
        <div class="button-bar">
            <button id="aEs-button25" style="color:#8D8D9B;" class="button button-positive  button-block button-icon icon ion-power"></button>
        </div>
        <div class="button-bar">
            <button id="aEs-button16" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-android-lock"></button>
        </div>
        <div class="button-bar">
            <button id="aEs-button19" style="color:#8D8D9B;" class="button button-positive  button-block button-icon icon ion-android-microphone-off"></button>
        </div>
        <div class="button-bar">
            <button id="aEs-button22" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-android-notifications"></button>
        </div>
    </ion-content>
</ion-view>