<ion-view title="Chip" id="page13">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Serial</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Telefone</span>
                    <input type="tel" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-select" name="operadora">
                    <span class="input-label">Operadora</span>
                    <select>
                        <option>Claro</option>
                    </select>
                </label>
            </ion-list>
        </form>
        <div class="button-bar">
            <button id="chip-button104" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-close"></button>
            <button id="chip-button105" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-information"></button>
            <button id="chip-button106" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-eye"></button>
            <button id="chip-button107" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-checkmark"></button>
        </div>
    </ion-content>
</ion-view>