<ion-view title="Funções" id="funcoes">
    <ion-content padding="true" class="has-header">
        <div class="button-bar"></div>
        <div class="button-bar"></div>
        <div class="button-bar"></div>
        <div class="button-bar"></div>
        <div class="button-bar"></div>
        <div class="button-bar"></div>
        <div class="spacer" style="width: 100%; height: 100%;"></div>
        <ion-list>
            <ion-toggle toggle-class="toggle-positive">Bateria Fraca</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Bateria Desconectada</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Velocidade Máxima 80 Km/h</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Ignição Ligada</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">Corte de Ignição Imediata</ion-toggle>
        </ion-list>
        <div class="button-bar">
            <button id="button-close" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-close"></button>
            <button id="button-info" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-information"></button>
            <button id="button-save" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-checkmark"></button>
        </div>
    </ion-content>
</ion-view>