<ion-view title="Monitoramento 24hrs" id="page16">
    <ion-content padding="true" class="has-header">
        <div id="monitoramento24hrs-markdown2" style="color:#E62E4C;text-align:center;">
            <p>
                <strong>Você não possui monitoramento 24hrs!</strong>
            </p>
        </div>
        <button id="monitoramento24hrs-button113" style="color:#3239E4;text-align:justify;" class="button button-positive  button-block button-icon icon-right ion-coffee">Solicitar Orçamento</button>
    </ion-content>
</ion-view>