<ion-view title="Rastreador" id="page12">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <button id="rastreador-button114" style="color:#3239E4;text-align:justify;" class="button button-positive  button-block button-icon icon-right ion-coffee">Onde Encontrar</button>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Fabricante</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Modelo</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">IMEI</span>
                    <input type="number" placeholder="">
                </label>
                <ion-item ui-sref="chip">Chip</ion-item>
                <label class="item item-input">
                    <span class="input-label">Instalação</span>
                    <input type="date" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Revisão</span>
                    <input type="date" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Último Teste</span>
                    <input type="date" placeholder="">
                </label>
            </ion-list>
            <div class="button-bar">
                <button id="rastreador-button101" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-checkmark"></button>
                <button id="rastreador-button99" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-information"></button>
                <button id="rastreador-button98" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-close"></button>
                <button id="rastreador-button100" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-clipboard"></button>
                <button id="rastreador-button102" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-android-settings"></button>
            </div>
        </form>
    </ion-content>
</ion-view>