<ion-view title="Seguradora" id="page15">
    <ion-content padding="true" class="has-header">
        <h2 id="seguradora-heading3" style="color:#000000;font-weight:400;">Itaú Seguros</h2>
        <form class="list">
            <a href="tel:08007201010" id="seguradora-button112" style="color:#3239E4;" class="button button-positive  button-block button-icon icon ion-android-call"></a>
        </form>
        <button id="seguradora-button110" style="color:#3239E4;text-align:justify;" class="button button-positive  button-block button-icon icon-right ion-coffee">Solicitar Orçamento</button>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Data Vigência</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div id="seguradora-markdown1" style="color:#000000;">
            <h3>Assistência 24 horas</h3>

            <blockquote>
                <p>Capitais e regiões metropolitanas</p>
            </blockquote>

            <h4>3003 1010</h4>

            <blockquote>
                <p>Demais localidades</p>
            </blockquote>

            <h4>0800 720 1010</h4>

            <h4>Central de Atendimento Itaú Auto</h4>

            <h3>Todos os dias</h3>

            <blockquote>
                <p>Capitais e regiões metropolitanas</p>
            </blockquote>

            <h4>3003 1001</h4>

            <blockquote>
                <p>Demais localidades</p>
            </blockquote>

            <h4>0800 720 1001</h4>

            <blockquote>
                <p>Argentina, Paraguai e Uruguai Sinistro</p>
            </blockquote>

            <h4>55 11 2504 0456</h4>
        </div>
    </ion-content>
</ion-view>