<ion-view title="Veículo" id="page10">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="placa">
                    <span class="input-label">Placa</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-select" name="cor">
                    <span class="input-label">Cor</span>
                    <select>
                        <option>Prata</option>
                        <option>Preto</option>
                        <option>Branco</option>
                        <option>Azul</option>
                        <option>Verde</option>
                    </select>
                </label>
                <label class="item item-input" name="anoModelo">
                    <span class="input-label">Modelo</span>
                    <input type="date" placeholder="">
                </label>
                <label class="item item-input" name="renavan">
                    <span class="input-label">Renavan</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" name="chassi">
                    <span class="input-label">Chassi</span>
                    <input type="text" placeholder="">
                </label>
                <ion-item ui-sref="rastreador">Rastreador</ion-item>
                <ion-item ui-sref="seguradora">Seguradora</ion-item>
                <ion-item ui-sref="monitoramento24hrs">Monitoramento 24hs</ion-item>
            </ion-list>
            <div class="button-bar">
                <button id="veCulo-button93" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-close"></button>
                <button id="veCulo-button94" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-information"></button>
                <button id="veCulo-button95" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-eye"></button>
                <button id="veCulo-button96" style="color:#4257F1;" class="button button-positive  button-block button-icon icon ion-checkmark"></button>
            </div>
        </form>
    </ion-content>
</ion-view>